#start {
width: 800px;
height: 500px;
background-color:#ededde;
border-radius:15px;
text-align:center;
margin: 0 auto;
position:relative;
top:100px;
box-shadow: 0 0 10px 10px #888888;
box-shadow: 0 0 0 10px 10 #888888;
}
#label {
font-size: 50px;
}
#labeled {
font-size: 30px;
border-radius: 10px;
}

